@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities; 

@layer base{
    html{
        @apply scroll-smooth;
    }
    body{
        @apply text-white font-inter ;
        
    }
}


@layer utilities{
    .paragraph{
        @apply font-inter text-xs  text-gray-600 py-3  leading-6 mb-5;
    }
    .heading2{
        @apply text-gray-800 text-2xl font-semibold;
    }
    .underline_hover{
      @apply border-b-[3px] border-opacity-70 border-black hover:border-none;
  }
    .product-section_two{
      padding: 0;
    }
    .remove_arrow input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;}
    
    .product-section {
        padding: rem 0; }
        .product-section .product-item {
          position: relative;
          padding-bottom: 50px;
          cursor: pointer; }
          .product-section .product-item .product-thumbnail {
            margin-bottom: 30px;
            position: relative;
            top: 0;
            -webkit-transition: .3s all ease;
            -o-transition: .3s all ease;
            transition: .3s all ease; }
          .product-section .product-item h3 {
            font-weight: 600;
            font-size: 16px; }
          .product-section .product-item strong {
            font-size: 18px !important; }
          .product-section .product-item h3, .product-section .product-item strong {
            color: #2f2f2f;
            text-decoration: none; }
          .product-section .product-item .icon-cross {
            position: absolute;
            width: 35px;
            height: 35px;
            display: inline-block;
            bottom: 15px;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            margin-bottom: -17.5px;
            border-radius: 50%;
            opacity: 0;
            visibility: hidden;
            -webkit-transition: .3s all ease;
            -o-transition: .3s all ease;
            transition: .3s all ease; }
            .product-section .product-item .icon-cross img {
              position: absolute;
              left: 50%;
              top: 50%;
              -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
          .product-section .product-item:before {
            bottom: 0;
            left: 0;
            right: 0;
            position: absolute;
            content: "";
            background: #dce5e4;
            height: 0%;
            z-index: -1;
            border-radius: 10px;
            -webkit-transition: .3s all ease;
            -o-transition: .3s all ease;
            transition: .3s all ease; }
          .product-section .product-item:hover .product-thumbnail {
            top: -25px; }
          .product-section .product-item:hover .icon-cross {
            bottom: 0;
            opacity: 1;
            visibility: visible; }
          .product-section .product-item:hover:before {
            height: 70%; }
            .scrollmenu {
              overflow: auto;
              white-space: nowrap;
            }
            
            .scrollmenu a {
              display: inline-block;
              color: white;
              text-align: center;
              padding: 14px;
              text-decoration: none;
            }
            
}